Focuser/*.aps
Focuser/*.eto
Focuser/*.user
Focuser/[Bb]in
Focuser/[Dd]ebug
Focuser/[Rr]elease
Focuser/bin
Focuser/obj
GeminiDriverSetup/*.aps
GeminiDriverSetup/*.eto
GeminiDriverSetup/*.user
GeminiDriverSetup/[Bb]in
GeminiDriverSetup/[Dd]ebug
GeminiDriverSetup/[Rr]elease
GeminiDriverSetup/obj
GeminiTelescope/*.aps
GeminiTelescope/*.eto
GeminiTelescope/*.user
GeminiTelescope/[Bb]in
GeminiTelescope/[Dd]ebug
GeminiTelescope/[Rr]elease
GeminiTelescope/bin
GeminiTelescope/obj
/GeminiTelescopeServedClasses
Telescope/*.aps
Telescope/*.eto
Telescope/*.user
Telescope/[Bb]in
Telescope/[Dd]ebug
Telescope/[Rr]elease
Telescope/bin
Telescope/obj
