* text=auto !eol
Catalogs/Arp[!!-~]Peculiar[!!-~]Galaxies.guc -text
Catalogs/Bright[!!-~]Star[!!-~]List.guc -text
Catalogs/CED[!!-~]bright[!!-~]diffuse[!!-~]nebulae.guc -text
Catalogs/Galactic[!!-~]Planetary[!!-~]Objects.guc -text
Catalogs/IC.guc -text
Catalogs/Lynds[!!-~]Bright[!!-~]Nebulae.guc -text
Catalogs/Lynds[!!-~]Dark[!!-~]Nebulae.guc -text
Catalogs/Messier.guc -text
Catalogs/NGC.guc -text
Catalogs/SAO[!!-~]Catalog.guc -text
Catalogs/Sharpless[!!-~]HII[!!-~]Regions.guc -text
Catalogs/VDB[!!-~]reflection[!!-~]nebulae.guc -text
Catalogs/Washington[!!-~]Double[!!-~]Star[!!-~]Catalog.guc -text
Focuser/ASCOM.png -text
Focuser/Driver.cs -text
Focuser/Focuser.csproj -text
Focuser/Focuser.csproj.user -text
Focuser/Properties/AssemblyInfo.cs -text
Focuser/Properties/Resources.Designer.cs -text
Focuser/Properties/Resources.resx -text
Focuser/ReadMe.htm -text
Focuser/Test.js -text
/GeminiASCOM.sln -text
/GeminiASCOM.suo -text
GeminiDriverSetup/GeminiDriverSetup.vdproj -text
GeminiDriverSetup/Header.bmp -text
GeminiTelescope/ASCOM.bmp -text
GeminiTelescope/ASCOM.png -text
GeminiTelescope/AboutBox/AboutBox1.Designer.cs -text
GeminiTelescope/AboutBox/AboutBox1.cs -text
GeminiTelescope/AboutBox/AboutBox1.resx -text
GeminiTelescope/AstronomyFunctions.cs -text
GeminiTelescope/ClassDiagram1.cd -text
GeminiTelescope/ClassFactory.cs -text
GeminiTelescope/CollapsibleGroupBox.Designer.cs -text
GeminiTelescope/CollapsibleGroupBox.cs -text
GeminiTelescope/CommandItem.cs -text
GeminiTelescope/Connection.cs -text
GeminiTelescope/Documentation/Gemini[!!-~]Telescope[!!-~]Net[!!-~]Installation[!!-~]and[!!-~]Operation.docx -text
GeminiTelescope/Documentation/Gemini[!!-~]Telescope[!!-~]Net[!!-~]Installation[!!-~]and[!!-~]Operation.pdf -text
GeminiTelescope/Documentation/GeminiHardware.chm -text
GeminiTelescope/FocuserSetupDialogForm.Designer.cs -text
GeminiTelescope/FocuserSetupDialogForm.cs -text
GeminiTelescope/FocuserSetupDialogForm.resx -text
GeminiTelescope/GarbageCollection.cs -text
GeminiTelescope/Gemini5Hardware.cs -text
GeminiTelescope/GeminiCommands.cs -text
GeminiTelescope/GeminiError.cs -text
GeminiTelescope/GeminiHardware.cs -text
GeminiTelescope/GeminiProperties.cs -text
GeminiTelescope/GeminiSB32x32.ico -text
GeminiTelescope/GeminiTelescope.csproj -text
GeminiTelescope/GeminiTelescope.csproj.user -text
GeminiTelescope/Interop.SpeechLib.dll -text
GeminiTelescope/LocalServer.cs -text
GeminiTelescope/MainSpeech.cs -text
GeminiTelescope/NmeaInterpretor.cs -text
GeminiTelescope/PassThroughPort.cs -text
GeminiTelescope/Properties/AssemblyInfo.cs -text
GeminiTelescope/Properties/Resources.Designer.cs -text
GeminiTelescope/Properties/Resources.en-GB.Designer.cs -text
GeminiTelescope/Properties/Resources.en-GB.resx -text
GeminiTelescope/Properties/Resources.fr.resx -text
GeminiTelescope/Properties/Resources.resx -text
GeminiTelescope/Properties/Resources.ru.resx -text
GeminiTelescope/ReadMe.htm -text
GeminiTelescope/ReferenceCountedObject.cs -text
GeminiTelescope/Resource1.Designer.cs -text
GeminiTelescope/Resource1.resx -text
GeminiTelescope/Resources/Ticked.png -text
GeminiTelescope/Resources/UnTicked.png -text
GeminiTelescope/Resources/diamond1-down.gif -text
GeminiTelescope/Resources/diamond1.gif -text
GeminiTelescope/Resources/minus.bmp -text
GeminiTelescope/Resources/no[!!-~]fix[!!-~]satellite.png -text
GeminiTelescope/Resources/no[!!-~]satellite.png -text
GeminiTelescope/Resources/plus.bmp -text
GeminiTelescope/Resources/satellite.png -text
GeminiTelescope/Resources/starfield.png -text
GeminiTelescope/SharedResources.cs -text
GeminiTelescope/Speech.cs -text
GeminiTelescope/TButton.cs -text
GeminiTelescope/TelescopeSetupDialogForm.cs -text
GeminiTelescope/TelescopeSetupDialogForm.de.resx -text
GeminiTelescope/TelescopeSetupDialogForm.designer.cs -text
GeminiTelescope/TelescopeSetupDialogForm.fr.resx -text
GeminiTelescope/TelescopeSetupDialogForm.resx -text
GeminiTelescope/TelescopeSetupDialogForm.ru.resx -text
GeminiTelescope/Tracer.cs -text
GeminiTelescope/UserCommand.cs -text
GeminiTelescope/Win32API.cs -text
GeminiTelescope/app.config -text
GeminiTelescope/frmAdvancedSettings.Designer.cs -text
GeminiTelescope/frmAdvancedSettings.cs -text
GeminiTelescope/frmAdvancedSettings.resx -text
GeminiTelescope/frmBootMode.Designer.cs -text
GeminiTelescope/frmBootMode.cs -text
GeminiTelescope/frmBootMode.resx -text
GeminiTelescope/frmGps.Designer.cs -text
GeminiTelescope/frmGps.cs -text
GeminiTelescope/frmGps.resx -text
GeminiTelescope/frmJoystickConfig.Designer.cs -text
GeminiTelescope/frmJoystickConfig.cs -text
GeminiTelescope/frmJoystickConfig.resx -text
GeminiTelescope/frmMain.cs -text
GeminiTelescope/frmMain.designer.cs -text
GeminiTelescope/frmMain.fr.resx -text
GeminiTelescope/frmMain.resx -text
GeminiTelescope/frmModel.Designer.cs -text
GeminiTelescope/frmModel.cs -text
GeminiTelescope/frmModel.resx -text
GeminiTelescope/frmNetworkSettings.Designer.cs -text
GeminiTelescope/frmNetworkSettings.cs -text
GeminiTelescope/frmNetworkSettings.de.resx -text
GeminiTelescope/frmNetworkSettings.resx -text
GeminiTelescope/frmObservationLog.Designer.cs -text
GeminiTelescope/frmObservationLog.cs -text
GeminiTelescope/frmObservationLog.resx -text
GeminiTelescope/frmOpticsSetup.Designer.cs -text
GeminiTelescope/frmOpticsSetup.cs -text
GeminiTelescope/frmOpticsSetup.resx -text
GeminiTelescope/frmPEC.Designer.cs -text
GeminiTelescope/frmPEC.cs -text
GeminiTelescope/frmPEC.resx -text
GeminiTelescope/frmPECChart.Designer.cs -text
GeminiTelescope/frmPECChart.cs -text
GeminiTelescope/frmPECChart.resx -text
GeminiTelescope/frmParkPosition.Designer.cs -text
GeminiTelescope/frmParkPosition.cs -text
GeminiTelescope/frmParkPosition.resx -text
GeminiTelescope/frmPassThroughPortSetup.Designer.cs -text
GeminiTelescope/frmPassThroughPortSetup.cs -text
GeminiTelescope/frmPassThroughPortSetup.resx -text
GeminiTelescope/frmProgress.Designer.cs -text
GeminiTelescope/frmProgress.cs -text
GeminiTelescope/frmProgress.resx -text
GeminiTelescope/frmRA_DEC.Designer.cs -text
GeminiTelescope/frmRA_DEC.cs -text
GeminiTelescope/frmRA_DEC.fr.resx -text
GeminiTelescope/frmRA_DEC.resx -text
GeminiTelescope/frmSafetyLimits.Designer.cs -text
GeminiTelescope/frmSafetyLimits.cs -text
GeminiTelescope/frmSafetyLimits.resx -text
GeminiTelescope/frmStatus.Designer.cs -text
GeminiTelescope/frmStatus.cs -text
GeminiTelescope/frmStatus.resx -text
GeminiTelescope/frmUserCatalog.Designer.cs -text
GeminiTelescope/frmUserCatalog.cs -text
GeminiTelescope/frmUserCatalog.resx -text
GeminiTelescope/frmVoiceOut.Designer.cs -text
GeminiTelescope/frmVoiceOut.cs -text
GeminiTelescope/frmVoiceOut.resx -text
Setup/ASCOMLogo.bmp -text
Setup/Gemini[!!-~]Setup.iss -text
Setup/GeminiSB32x32.ico -text
Setup/GeminiTelescopeInstaller(1.0.2.2).exe -text
Setup/NewWizardImage.bmp -text
Setup/Setup.log -text
Telescope/ASCOM.png -text
Telescope/Driver.cs -text
Telescope/Properties/AssemblyInfo.cs -text
Telescope/Properties/Resources.Designer.cs -text
Telescope/Properties/Resources.resx -text
Telescope/ReadMe.htm -text
Telescope/Telescope.csproj -text
Telescope/Telescope.csproj.user -text
Telescope/Test.js -text
